/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

	1. 	Styles Specific to Block Editor Screen
	2. 	Block Editor Width
	3. 	General Block Differences
	4. 	Blocks with Different Markup

----------------------------------------------------------------------------- */

/*==============================================================
=            1. Styles Specific to Block Editor Screen         =
==============================================================*/

/*
 * Block editor styles wrapper: .editor-styles-wrapper
 * @see: https://developer.wordpress.org/block-editor/developers/themes/theme-support/
 */

/**
 * Post Title Field
 */
.editor-post-title {}

	/* The faux placeholder text for the title */
	.editor-post-title label {}

	/* The user-entered title */
	.editor-post-title .editor-post-title__input {}

/*==========================================
=            2. Block Editor Width         =
==========================================*/

/* Main column width */
.wp-block {
    max-width: 720px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}



/*=================================================
=            3. General Block Differences         =
=================================================*/

/*
 * Wrapper element for all blocks
 */
.wp-block {}

	/* Type */
	.wp-block[date-type="core/button"] {}

	/* Alignment */
	.wp-block[data-align="center"] {}




/*====================================================
=            4. Blocks with Different Markup         =
====================================================*/

/**
 * Button
 *
 * Uses div instead of a elements
 */
div.wp-block-button div.wp-block-button__link {}

/**
 * File
 *
 * Provides unique class for text link and uses div instead of a elements
 */
div.wp-block-file div.wp-block-file__textlink {}
div.wp-block-file div.wp-block-file__file {}